<launch>
  
  <!-- This node computes the path for the car to follow based on position of cones and car position + direction -->
  <node name="skidpad_pathfinder" pkg="ackermann_vehicle_navigation" type="skidpad_pathfinder.py" output="screen"/>

  <!-- This node compute the transformation required for the car to achieve poses in /path. Output is /cmd_vel. /chequered_flag is true when path follower finishes-->
  <node name="skidpad_path_follower" pkg="ackermann_vehicle_navigation" type="skidpad_path_follower.py" output="screen"/>

</launch>