.devcontainer/.ssh/known_hosts
.devcontainer/devcontainer.metadata
ros/gra_manager/scripts/states/__pycache__
*.pyc

# rosbag files
*.bag 
installation_script_generated.sh
ros/ndt_omp/
ros/hdl_graph_slam/
ros/fast_gicp/
ros/rf2o_laser_odometry/
