<?xml version="1.0"?>

<launch>

    <!-- Start track follower -->
    <include file="$(find ackermann_vehicle_navigation)/launch/track_follower.launch" />

    <!-- Start acceleration_finish (detects when large orange cone pair finish line has been crossed) -->
    <node name="acceleration_finish" pkg="fsai_mission" type="acceleration_finish.py" output="screen"/>

    <!-- Start acceleration supervisor for run completion logics -->
    <node name="acceleration_supervisor" pkg="fsai_mission" type="acceleration_supervisor.py" output="screen"/>

</launch>