<?xml version="1.0"?>

<launch>

    <!-- Start track follower -->
    <include file="$(find ackermann_vehicle_navigation)/launch/track_follower.launch" />

    <!-- Start autonomous demo routine -->
    <node name="autonomous_demo" pkg="fsai_mission" type="autonomous_demo.py" output="screen"/>
    <!-- <node name="speed_controller" pkg="fsai_api" type="wheel_speed_controller.py" output="screen"/> -->

</launch>