<?xml version="1.0"?>

<launch>

    <!-- Start URDF node, 3D lidar driver, depth camera driver, SLAM -->
    <!-- <include file="$(find ackermann_vehicle_description)/launch/ads_dv_real.launch" /> -->

    <!-- Start Perception subsystem: 3D cone recognition -->
    <include file="$(find ultralytics_ros)/launch/tracker_with_cloud.launch" />

    <!-- Start Cone mapping -->
    <include file="$(find ultralytics_ros)/launch/cone_mapper.launch" />

    <!-- Start track follower -->
    <include file="$(find ackermann_vehicle_navigation)/launch/skidpad_follower.launch" />

</launch>