<?xml version="1.0"?>

<launch>

    <!-- Start track follower -->
    <include file="$(find ackermann_vehicle_navigation)/launch/track_follower.launch" />

    <!-- Start lap counter -->
    <node name="lap_counter" pkg="fsai_mission" type="lap_counter.py" output="screen"/>

    <!-- Start trackdrive supervisor for run completion logics -->
    <node name="trackdrive_supervisor" pkg="fsai_mission" type="trackdrive_supervisor.py" output="screen"/>

</launch>