<?xml version="1.0"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find rbc_navigation)/description/robot.urdf.xacro" />

    <!-- Robot state publisher on the other hand takes in the joint data to compute the TFs -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- slam_toolbox -->
    <node pkg="slam_toolbox" type="lifelong_slam_toolbox_node" name="slam_toolbox" output="screen">
        <rosparam command="load" file="$(find rbc_navigation)/config/mapper_params_lifelong.yaml" />
    </node>
</launch>
