<?xml version="1.0"?>

<!-- ackermann_vehicle.launch

Launch nodes used by both RViz and Gazebo when visualizing a vehicle with
Ackermann steering.
-->

<launch>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find ackermann_vehicle_description)/urdf/ads_dv.urdf.xacro"/>
  <!-- <param name="robot_description" command="$(find xacro)/xacro inorder $(find ackermann_vehicle_description)/urdf/em_3905_hokuyo.urdf.xacro"/> -->

  <!-- Read joint positions from joint_states, then publish the vehicle's state to tf. -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" value="30.0"/>
  </node>
</launch>
