<?xml version="1.0"?>
<launch>

    <include file="$(find rbc_core)/launch/machines.launch" />

    <include file="$(find rbc_base)/launch/arduino_bridge.launch" />
    <include file="$(find rbc_base)/launch/controller.launch" />
    <include file="$(find rbc_core)/launch/lidar.launch" />

</launch>